In [70]:
import pandas as pd
import hashlib

In [71]:
data = {"fruits": ["apple","orange","banana","strawberry","kiwifruit"],"year":[2001,2002,2001,2008,2006],"time":[1,4,5,6,3]}
df = pd.DataFrame(data)
print(df)

       fruits  year  time
0       apple  2001     1
1      orange  2002     4
2      banana  2001     5
3  strawberry  2008     6
4   kiwifruit  2006     3

In [72]:
df.to_csv("test.csv",mode = 'w')

In [73]:
printest = pd.read_csv("test.csv", index_col =0)
print(printest)

       fruits  year  time
0       apple  2001     1
1      orange  2002     4
2      banana  2001     5
3  strawberry  2008     6
4   kiwifruit  2006     3

In [74]:
phone = ["samsung","iphone","block"]
year = [2002,2001,3000]
cash = [200000,500000,100000]
test = pd.Series(year,index=phone)
test1 = pd.Series([1111,50000],index=["year","cash"])
test2 = pd.Series(cash,index=phone)
test3 = pd.DataFrame([test,test2])
test3.index = ["year","cash"]
test3["nokia"] = test1
print(test3)

      samsung  iphone   block  nokia
year     2002    2001    3000   1111
cash   200000  500000  100000  50000

In [75]:
test3.loc[["year","cash"],["iphone","samsung"]]= 2002
print(test3)

      samsung  iphone   block  nokia
year     2002    2002    3000   1111
cash     2002    2002  100000  50000

In [76]:
print(test3.index)

Index(['year', 'cash'], dtype='object')

In [77]:
test4 = df

In [80]:
test5 = pd.concat([df,df],axis=1)

In [82]:
print(test4)
print()
print(test5)
print(pd.concat([df,df],axis=0))

       fruits  year  time
0       apple  2001     1
1      orange  2002     4
2      banana  2001     5
3  strawberry  2008     6
4   kiwifruit  2006     3

       fruits  year  time      fruits  year  time
0       apple  2001     1       apple  2001     1
1      orange  2002     4      orange  2002     4
2      banana  2001     5      banana  2001     5
3  strawberry  2008     6  strawberry  2008     6
4   kiwifruit  2006     3   kiwifruit  2006     3
       fruits  year  time
0       apple  2001     1
1      orange  2002     4
2      banana  2001     5
3  strawberry  2008     6
4   kiwifruit  2006     3
0       apple  2001     1
1      orange  2002     4
2      banana  2001     5
3  strawberry  2008     6
4   kiwifruit  2006     3